%list {
    .post_content {
        & > ol,
        & > ul {
            counter-reset: ol;
            counter-increment: ol 0;
            @apply mt-20;
        }
    }
    ol,
    ul {
        ol,
        ul {
            @apply ml-16;
        }
    }

    li {
        @apply relative;

        &::before {
            @apply absolute left-0;
        }
    }

    ul {
        li {
            @apply pl-20;
            &::before {
                content: '';
                @apply bg-orange w-10 h-10 rounded-half translate-y-11 @PC:translate-y-12;
            }
        }
    }
    ol.term-list {
        li {
            @apply pl-24 @PC:pl-32 font-en;

            &::before {
                content: counter(ol) '.';
            }
        }
    }
    ol {
        li {
            @apply pl-39 @PC:pl-52;
            counter-increment: ol;
            &::before {
                content: '（' counter(ol) '）';
            }

            ol {
                counter-increment: olol 0;

                li {
                    counter-increment: olol;

                    &::before {
                        content: counter(olol) '. ';
                    }
                }
            }
        }
    }
}
